{% extends 'layout/base.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}

	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item" style="background-image: url({{highlight.url}});">
						<div class="has-text-centered">
							<h1>{{ highlight.title }}</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="thumbnail">
				<div class="columns is-marginless"><!--ขอบของรูปภาพที่เป็นคอลัม-->
					{% for item in thumbnail %}
					<div class="column thumbnail-item is-paddingless" style="background-image:url({{ item.url }});"><!--ใส่รูปแนวคอลัม-->
						{{ item.title }} <!--ใส่ข้อความ-->
						
					</div>
					{% endfor %}
					
				</div>
			</div>
		</section>
		<section class="section we-present"><!--ใส่ข้อความลงไปข้างล่าง--> 
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a> <!--ข้อความพร้อมกับเป็นลิ้ง-->
						
					</div>
					<div class="column has-text-centered">
						we present  <!--เป็นข้อความ-->
						
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a><!--ข้อความพร้อมกับเป็นลิ้ง-->
						
					</div>
					
				</div>
				<div class="columns is-multiline"> <!--มันจะเว้นบรรทัดให้อัตโนมัติ-->
					<a href="#" class="column is-one-third"><!--คอลัมแรก 1ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-1.jpg" alt="img-1"><!--ใส่รูป-->
								</figure>
							</div>
							<div class="card-content"><!--ใส่ข้อความ-->
								<h5 class="cotegory">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem ipsum dolor sit amet.</h3>
								<h4 class="subtitle is-6">Nooooooooo</h4>
								<p>
									There are several ways to get started with Bulma. You can either:

										use npm to install the Bulma package
										use the cdnjs CDN to link to the Bulma stylesheet
										use the GitHub repository to get the latest development version
								</p>								
							</div>							
						</div>
						
					</a>
					<a href="#" class="column is-one-third"><!--คอลัมแรก 1ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-2.jpg" alt="img-1"><!--ในกรณีที่รูปไม่ขึ้นมันจะขึ้น img-1 แทน มันคือคำที่เขียนไว้ข้างหลัง alt-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="cotegory">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem ipsum dolor sit amet.</h3>
								<h4 class="subtitle is-6">Nooooooooo</h4>
								<p>
									There are several ways to get started with Bulma. You can either:

										use npm to install the Bulma package
										use the cdnjs CDN to link to the Bulma stylesheet
										use the GitHub repository to get the latest development version
								</p>								
							</div>		
						</div>
						
					</a>
					<a href="#" class="column is-one-third"><!--คอลัมแรก 1ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-3.jpg" alt="img-2">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="cotegory">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem ipsum dolor sit amet.</h3>
								<h4 class="subtitle is-6">Nooooooooo</h4>
								<p>
									There are several ways to get started with Bulma. You can either:

									use npm to install the Bulma package
									use the cdnjs CDN to link to the Bulma stylesheet
									use the GitHub repository to get the latest development version
								</p>								
							</div>				
						</div>
					</a>

					<a href="#" class="column is-one-third"><!--คอลัมแรก 1ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-4.jpg" alt="img-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="cotegory">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem ipsum dolor sit amet.</h3>
								<h4 class="subtitle is-6">Nooooooooo</h4>
								<p>
									There are several ways to get started with Bulma. You can either:

										use npm to install the Bulma package
										use the cdnjs CDN to link to the Bulma stylesheet
										use the GitHub repository to get the latest development version
								</p>								
							</div>							
						</div>						
					</a>

					<a href="#" class="column is-one-third"><!--คอลัมแรก 1ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-5.jpg" alt="img-4">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="cotegory">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem ipsum dolor sit amet.</h3>
								<h4 class="subtitle is-6">Nooooooooo</h4>
								<p>
									There are several ways to get started with Bulma. You can either:

										use npm to install the Bulma package
										use the cdnjs CDN to link to the Bulma stylesheet
										use the GitHub repository to get the latest development version
								</p>								
							</div>							
						</div>						
					</a>

					<a href="#" class="column is-one-third"><!--คอลัมแรก 1ใน 3-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-6.jpg" alt="img-5">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="cotegory">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem ipsum dolor sit amet.</h3>
								<h4 class="subtitle is-6">Nooooooooo</h4>
								<p>
									There are several ways to get started with Bulma. You can either:

										use npm to install the Bulma package
										use the cdnjs CDN to link to the Bulma stylesheet
										use the GitHub repository to get the latest development version
								</p>								
							</div>						
						</div>
					</a>

					
				</div>
				
			</div>
		</section>
	</main>
{% endblock %}